<html>
    <head>
    <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous"></script>

    <script type="text/javascript">
    console.log("HSLDJFNKLADSJNFLSKDNFLSD");

$(function() {
    var manageUpvotes = function() { $( ".upvoteSymbol" ).click(function() {
            console.log("hello jery!!!");
            var alarm = $(this).parent();
            var id = alarm.find(".id").text();
            var blob = {id: id, blahblah: 'hello jerrryyyy'}
            console.log(blob);
            $.ajax({
                method: "POST",
                url: "/api/alarms", // TODO define or extract 
                data: blob,
                dataType: 'json'
            }).done(populateAlarms); // TODO Add success/failure handlers
        });
    };

    var populateAlarms = function(data) {
            var alarmsList = $("#alarmsList");
            alarmsList.empty();
            $(data.alarms).each( function(index, item) {
                var alarmString = "<li>" + "<span class='id' class='hidden'>" + item.id + "</span>" + item.content +  "<div class='upvoteSymbol'>" + item.upvotes + "</div></li>";
                alarmsList.append(alarmString);
            });
            manageUpvotes();
    };

    var managePopulateAlarms = function() {
        $.getJSON("/api/alarms", populateAlarms);
    };

    managePopulateAlarms();
});
    </script>
    </head>
<body>
    Hello, flask!
    <div class="createAlarms">
        <form id="alarms" action="/" method="post">
            <input type="text" name="content" id="content"/>
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div id="alarmsList">
        
    </div>
</body>
</html>
